language: python
services:
  docker
python:
  - "2.7"
install:
  - make deps
script:
  - make test
  - make lint
  - make docker_build
  - make docker_push
deploy:
  provider: heroku
  app:glacial-spire-89400
  api_key: ${HEROKU_API_KEY}
  
